@keyframes recording
	from
		color red
		opacity: 1
	
	to 
		color morado
		opacity: 0
		
@keyframes warningForm
	0%
		background white
	
	50% 
		background #EAEAEA
	
	100%
		background white