.u-row
	display block
	margin-bottom 1rem
	
.u-button
	background #6a127a
	border 0 solid transparent
	border-radius 3px
	color #fff
	padding .6rem
	width auto
	transition .3s all ease
	
	&:hover
		background #500D5D
		outline 0
	&:focus
		outline 0

.u-inputText
	background #efefef
	border 0 solid transparent
	border-radius 3px
	padding 1.1rem 1rem
	transition 0.3s all ease
	
	&:focus
		background #DEDEDE
		outline 0
		
.u-inputTextWhite
	background #FFFFFF
	border 0 solid transparent
	border-radius 3px
	padding 1.1rem 1rem
	transition 0.3s all ease
	width 100%
	
	&:focus
		background #E1E1E1
		outline 0
		
.u-containerStyle
	padding 1rem
	background #FFF
	box-shadow 1px 1px 5px -3px #2B2B2B
	
.u-alignRight
	text-align right
	
.u-arrowDown
	transition .3s all ease

	&:after
		border-bottom 0px solid transparent
		border-left 15px solid transparent
		border-right 15px solid transparent
		border-top 15px solid #4E0C5B
		content ''
		display block
		height 0
		width 0
		
	&:hover
		cursor: pointer
		
.u-arrowUp
	transition .3s all ease

	&:after
		border-bottom 15px solid #4E0C5B
		border-left 15px solid transparent
		border-right 15px solid transparent
		border-top 0px solid transparent
		content ''
		display block
		height 0
		width 0
		
	&:hover
		cursor: pointer